@{
    ViewBag.Title = "Home";
}
<div data-role="page">
<div data-role="header">
     <h1>Expense Tracker Mobile</h1>
</div>
<div data-role="content">
<ul data-role="listview">
    <li>@Html.Partial("_LogOnPartial")</li>
     <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @* <li>@Html.ActionLink("Category", "Index", "Category")</li>
     <li>@Html.ActionLink("Expense", "Index", "Expense")</li>*@
</ul>
</div>
<div data-role="footer">
    Shiju Varghese | <a href="http://weblogs.asp.net/shijuvarghese">Blog
    </a> | <a href="http://twitter.com/shijucv">Twitter</a>
  </div>
</div>