<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="DbAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="EmailAppender" />
    </root>
    <appender name="DbAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <threshold value="INFO" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=178.21.128.115; uid=kurt; pwd=kurt2010; database=dev" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <!--
          CREATE TABLE [dbo].[Log] (
              [Id] [int] IDENTITY (1, 1) NOT NULL,
              [Date] [datetime] NOT NULL,
              [Thread] [varchar] (255) NOT NULL,
              [Level] [varchar] (50) NOT NULL,
              [Logger] [varchar] (255) NOT NULL,
              [Message] [varchar] (4000) NOT NULL,
              [Exception] [varchar] (2000) NULL
          )
      -->
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log.txt" />
      <threshold value="ERROR" />
      <param name="AppendToFile" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <!--<evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>-->
      <!-- The filters are processed in order:
              1) match the Inserted New User message
              2) match any WARN or higher messages
              3) reject everything else -->
      <!--<filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Inserted a new user" />
        <acceptOnMatch value="true" />
      </filter>-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <!-- The SmtpAppender authenticates against the mail server, the buffersize of 10 
           provides 10 lines of context when an error happens. -->
      <subject value="GeoPlayGround: Test log event" />
      <to value="kurt.moan@gmail.com, gmobydick@gmail.com" />
      <from value="no-reply@geoplayground.com" />
      <!--bm8tcmVwbHlAZ2VvcGxheWdyb3VuZC5jb20=-->
      <!--<password value="replyno" />-->
      <password value="cmVwbHlubw==" />
      <smtpHost value="smtp.webhuset.no" />
      <authentication value="Basic" />
      <username value="no-reply@geoplayground.com" />
      <password value="replyno" />
      <port value="587" />
      <bufferSize value="1" />
      <lossy value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%5p [%d] - %m%n" />
      </layout>
    </appender>
  </log4net>
  
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="kurtDB" connectionString="Data Source=178.21.128.115;User ID=kurt;Password=kurt2010"
         providerName="System.Data.SqlClient" />
    <add name="cafebabeDB" connectionString="Data Source=mssql01.webhuset.no;User ID=cafebabe;Password=vFIsIZu0y"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="Site.css" value="/Content/Site.css" />
    <add key="Site2.css" value="/Content/Site2.css" />
    <add key="Site.jquery.scrollto" value="/Scripts/jquery.scrollTo-min.js" />
    <add key="Site.myscript" value="/Scripts/MyScripts.js" />
    <add key="Site.image.menu" value="/Content/Menues.png" />
    <add key="Cdn.jquery" value="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.2.min.js" />
    <add key="Cdn.jquery.ui" value="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.11/jquery-ui.min.js" />
    <add key="Cdn.css.ui.base" value="/Content/themes/base/jquery-ui.css" />
    <add key="Cdn.css.ui.darkness"
         value="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.11/themes/ui-darkness/jquery-ui.css" />
    <add key="Cdn.css.ui.lightness"
         value="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.11/themes/ui-lightness/jquery-ui.css" />
    <add key="Cdn.jquery.validate" value="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js" />
    <add key="Cdn.Microsoft.Ajax" value="http://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js" />
    <add key="Cdn.Microsoft.MVC.Ajax" value="http://ajax.aspnetcdn.com/ajax/mvc/2.0/MicrosoftMvcAjax.js" />
    <add key="Cdn.jquery.unobtrusive.ajax"
         value="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" />
    <add key="Cdn.jquery.validate.unobtrusive"
         value="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
